# Loading Data

In [24]:
import pandas as pd

yellow_taxi_df = pd.read_parquet('yellow_tripdata_2024-11.parquet')

yellow_taxi_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-11-01 00:46:24,2024-11-01 00:57:17,1,2,1,N,239,262,2,-13,-1,-0,0,0,-1,-18,-2,0
1,2,2024-11-01 00:46:24,2024-11-01 00:57:17,1,2,1,N,239,263,2,13,1,0,0,0,1,18,2,0
2,1,2024-11-01 00:37:36,2024-11-01 01:28:36,1,34,5,N,219,265,1,259,0,0,15,0,1,275,0,0
3,2,2024-11-01 00:12:55,2024-11-01 00:22:17,2,1,1,N,186,107,1,10,1,0,1,0,1,16,2,0
4,2,2024-11-01 00:54:45,2024-11-01 00:59:47,1,0,1,N,79,79,1,6,1,0,1,0,1,12,2,0

# Data Exploration

In this section, we will explore the 'Green Taxi' dataset and understand its characteristics and da

In [25]:
yellow_taxi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3646369 entries, 0 to 3646368
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 486.8+ MB

The dataset has 18 columns, and over 3M rows. Next, we will explore the categorical and numerical attributes in the dataset.

In [26]:
# supress scientific notation by setting float_format
pd.options.display.float_format = '{:.0f}'.format

yellow_taxi_df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
count,3646369,3646369,3646369,3272695,3646369,3272695,3646369,3646369,3646369,3646369,3646369,3646369,3646369,3646369,3646369,3646369,3272695,3272695
mean,2,2024-11-15 17:27:55.648361,2024-11-15 17:45:42.936777,1,5,2,165,164,1,19,1,0,3,1,1,28,2,0
min,1,2002-12-31 22:17:43,2002-12-31 22:23:55,0,0,1,1,1,0,-1458,-8,-0,-94,-141,-1,-1478,-2,-2
25%,2,2024-11-08 16:43:32,2024-11-08 17:05:55,1,1,1,132,113,1,9,0,0,0,0,1,16,2,0
50%,2,2024-11-15 19:11:36,2024-11-15 19:28:02,1,2,1,162,162,1,14,1,0,3,0,1,21,2,0
75%,2,2024-11-22 16:02:55,2024-11-22 16:23:55,1,3,1,234,234,1,23,2,0,4,0,1,30,2,0
max,6,2024-12-01 22:04:33,2024-12-01 23:10:54,9,398609,99,265,265,4,335544,14,41,572,141,1,335551,2,2
std,0,NaN,NaN,1,539,11,65,69,1,177,2,0,4,2,0,177,1,0

From the table above, we can see that there are many interesting numbers across columns